<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="msapplication-tap-highlight" content="no"/>
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="css/index.css"/>
  <link rel="stylesheet" type="text/css" href="css/multi-select.css"/>
  <title>Costa 506 Offline</title>
</head>
<body>
<div class="app">
  <nav id="navbar" class="navbar navbar-inverse navbar-fixed-top"
       role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Costa 506 Offline
        </a>
      </div>
    </div>
  </nav>

  <button id="refresh" class="btn btn-default">Refrescar datos</button>

  <div id="loading" style="display: none;">
    <img src="img/loading.gif">
    <h1>
      Por favor, espere
    </h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form id="auth" method="get" class="form-horizontal" role="form">
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" name="email">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <table id="propiedades_table" class="table">
          <thead>
          <tr>
            <th>Titular</th>
            <th>Creado en</th>
            <th class="show-online">Subir al sitio</th>
            <th>
              <span id="clear_all" class="fake-link">Borrar todo</span>
            </th>
          </tr>
          </thead>
          <tbody id="propiedades"></tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <form method="get" id="new_propiedad"
              class="form-horizontal" role="form">
          <div class="form-group">
            <label for="listado" class="col-sm-2 control-label">
              Listado
            </label>
            <div class="col-sm-4">
              <select class="form-control" id="listado" name="listado">
                <option value="venta">Venta</option>
                <option value="alquiler">Alquiler</option>
                <option value="opcion_compra">Alquiler con opción de compra</option>
                <option value="venta_alquiler">Venta o Alquiler</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="titular" class="col-sm-2 control-label">Titular</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="titular" name="titular">
            </div>
          </div>

          <div class="form-group">
            <label for="propietario_id" class="col-sm-2 control-label">
              Propietario
            </label>
            <div class="col-sm-10">
              <select class="form-control" id="propietario_id" name="propietario_id">
                <option value="">Buscar</option>
                <% Propietario.all.each do |p| %>
                <option value="<%= p.id %>"><%= p.alt %></option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="tipos" class="col-sm-2 control-label">Tipos</label>
            <div class="col-sm-10">
              <div id="tipos" style="column-count: 2;"></div>
            </div>
          </div>

          <div class="form-group">
            <label for="caracteristicas" class="col-sm-2 control-label">Amenidades</label>
            <div class="col-sm-10">
              <div id="caracteristicas" style="column-count: 2;"></div>
            </div>
          </div>

          <div class="form-group">
            <label for="direccion_exacta" class="col-sm-2 control-label">
              Dirección exacta
            </label>
            <div class="col-sm-10">
            <textarea class="form-control" id="direccion_exacta"
                      name="direccion_exacta" rows="3"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="direccion_uso_interno" class="col-sm-2 control-label">
              Dirección uso interno
            </label>
            <div class="col-sm-10">
            <textarea class="form-control" id="direccion_uso_interno"
                      name="direccion_uso_interno" rows="3"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="descripcion_publica" class="col-sm-2 control-label">
              Descripción pública
            </label>
            <div class="col-sm-10">
            <textarea class="form-control" id="descripcion_publica"
                      name="descripcion_publica" rows="10"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="moneda" class="col-sm-2 control-label">
              Moneda
            </label>
            <div class="col-sm-4">
              <select class="form-control" id="moneda" name="moneda">
                <option value="USD">USD</option>
                <option value="CRC">CRC</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="valor_compra" class="col-sm-2 control-label">
              Valor compra
            </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="valor_compra"
                     name="valor_compra" pattern="\d*">
            </div>
          </div>

          <div class="form-group">
            <label for="valor_alquiler" class="col-sm-2 control-label">
              Valor alquiler
            </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="valor_alquiler"
                     name="valor_alquiler" pattern="\d*">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="1" name="opcion_compra">
                  Opción compra
                </label>
              </div>
            </div>
          </div>

          <div class="form-group incluye_mantenimiento-field">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="1" name="incluye_mantenimiento">
                  Incluye mantenimiento
                </label>
              </div>
            </div>
          </div>

          <div class="form-group cuota_mantenimiento-field">
            <label for="cuota_mantenimiento" class="col-sm-2 control-label">
              Cuota mantenimiento
            </label>
            <div class="col-sm-4">
              <input type="text" id="cuota_mantenimiento" name="cuota_mantenimiento"
                     class="form-control" pattern="\d*">
            </div>
          </div>

          <div class="form-group">
            <label for="area_terreno" class="col-sm-2 control-label">
              Área terreno
            </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="area_terreno"
                     name="area_terreno" pattern="\d*">
            </div>
          </div>

          <div class="form-group area_construccion-field">
            <label for="area_construccion" class="col-sm-2 control-label">
              Área construcción
            </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="area_construccion"
                     name="area_construccion">
            </div>
          </div>

          <div class="form-group pisos-field">
            <label for="pisos" class="col-sm-2 control-label">Pisos</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="pisos" name="pisos" pattern="\d*">
            </div>
          </div>

          <div class="form-group dormitorios-field">
            <label for="dormitorios" class="col-sm-2 control-label">
              Dormitorios
            </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="dormitorios"
                     name="dormitorios" pattern="\d*">
            </div>
          </div>

          <div class="form-group oficinas-field">
            <label for="oficinas" class="col-sm-2 control-label">
              Oficinas
            </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="oficinas"
                     name="oficinas" pattern="\d*">
            </div>
          </div>

          <div class="form-group banos-field">
            <label for="banos" class="col-sm-2 control-label">Baños</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="banos" name="banos">
            </div>
          </div>

          <div class="form-group sala_comedor-field">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="1" name="sala_comedor">
                  Sala comedor
                </label>
              </div>
            </div>
          </div>

          <div class="form-group patio-field">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="1" name="patio">
                  Patio
                </label>
              </div>
            </div>
          </div>

          <div class="form-group patio_area-field">
            <label for="patio_area" class="col-sm-2 control-label">
              Patio area
            </label>
            <div class="col-sm-4">
              <input type="text" id="patio_area" name="patio_area" class="form-control"
                     pattern="\d*">
            </div>
          </div>

          <div class="form-group estacionamiento-field">
            <label for="estacionamiento" class="col-sm-2 control-label">
              Estacionamiento
            </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="estacionamiento"
                     name="estacionamiento" pattern="\d*">
            </div>
          </div>

          <div class="form-group tipo_de_estacionamiento-field">
            <label for="tipo_de_estacionamiento" class="col-sm-2 control-label">
              Tipo de estacionamiento
            </label>
            <div class="col-sm-4">
              <select class="form-control" id="tipo_de_estacionamiento"
                      name="tipo_de_estacionamiento">
                <option value="">Buscar</option>
                <option value="parqueo">Parqueo</option>
                <option value="garaje">Garaje</option>
                <option value="parqueo_techado">Parqueo techado</option>
              </select>
            </div>
          </div>

          <div class="form-group amueblado-field">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="1" name="amueblado">
                  Amueblado
                </label>
              </div>
            </div>
          </div>

          <div class="form-group linea_blanca-field">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="1" name="linea_blanca">
                  Linea blanca
                </label>
              </div>
            </div>
          </div>

          <div class="form-group fecha_construccion-field">
            <label for="fecha_construccion" class="col-sm-2 control-label">
              Fecha construcción
            </label>
            <div class="col-sm-10">
              <input type="text" id="fecha_construccion" name="fecha_construccion"
                     class="form-control" pattern="\d*">
            </div>
          </div>

          <div class="form-group">
            <label for="otros" class="col-sm-2 control-label">
              Otros
            </label>
            <div class="col-sm-10">
              <textarea class="form-control" id="otros" name="otros" rows="3"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="numero_plano_catastrado" class="col-sm-2 control-label">
              Numero plano catastrado
            </label>
            <div class="col-sm-10">
              <input type="text" id="numero_plano_catastrado" name="numero_plano_catastrado" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label for="notas_uso_interno" class="col-sm-2 control-label">
              Notas uso interno
            </label>
            <div class="col-sm-10">
              <textarea class="form-control" id="notas_uso_interno" name="notas_uso_interno" rows="3"></textarea>
            </div>
          </div>

          <div class="form-group provincia-control">
            <label for="provincia" class="col-sm-2 control-label">Provincia</label>
            <div class="col-sm-10">
              <select class="form-control" id="provincia" name="provincia"></select>
            </div>
          </div>

          <div class="form-group canton-control">
            <label for="canton" class="col-sm-2 control-label">Cantón</label>
            <div class="col-sm-10">
              <select style="display: none;" id="canton_copy"></select>
              <select class="form-control" id="canton" name="canton">
              </select>
            </div>
          </div>

          <div class="form-group distrito-control">
            <label for="distrito" class="col-sm-2 control-label">Distrito</label>
            <div class="col-sm-10">
              <select style="display: none;" id="distrito_copy"></select>
              <select class="form-control" id="distrito" name="distrito">
              </select>
            </div>
          </div>

          <div class="form-group cuarto_de_servicio-field">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="1" name="cuarto_de_servicio">
                  Cuarto de servicio
                </label>
              </div>
            </div>
          </div>

          <div class="form-group cuota_mantenimiento_moneda-field">
            <label for="cuota_mantenimiento_moneda" class="col-sm-2 control-label">
              Cuota mantenimiento moneda
            </label>
            <div class="col-sm-4">
              <select class="form-control" id="cuota_mantenimiento_moneda" name="cuota_mantenimiento_moneda">
                <option value="USD">USD</option>
                <option value="CRC">CRC</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="comision" class="col-sm-2 control-label">
              Comision
            </label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="comision"
                     name="comision">
            </div>
          </div>

          <div class="form-group">
            <label for="mensajes" class="col-sm-2 control-label">Mensajes</label>
            <div id="mensajes" class="col-sm-10"></div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" id="add_propiedad" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="cordova.js"></script>

<script type="text/javascript" src="js/jquery-2.2.2.js"></script>
<script type="text/javascript">
  $.fn.serializeObject = function() {
    var o = {};
    var a = this.serializeArray();
    $.each(a, function() {
      if (o[this.name] !== undefined) {
        if (!o[this.name].push) {
          o[this.name] = [o[this.name]];
        }
        o[this.name].push(this.value || '');
      } else {
        o[this.name] = this.value || '';
      }
    });
    return o;
  };
</script>

<script type="text/javascript" src="js/jquery.multi-select.js"></script>
<script type="text/javascript" src="js/bootstrap-number-input.js"></script>
<script type="text/javascript" src="js/autoNumeric-1.9.43.js"></script>

<script type="text/javascript">
  $(function() {
    $('form').submit(function() {
      $('input').each(function() {
        var self = $(this);
        try{
          var v = self.autoNumeric('get');
          // if (v) {
          //   debugger;
          // }
          self.autoNumeric('destroy');
          self.val(v);
        } catch(err) {
          // Not an autonumeric field.
        }
      });
      return true;
    });

    var elements = [
      '#valor_compra',
      '#valor_alquiler',
      '#cuota_mantenimiento',
      '#area_terreno',
      '#pisos',
      '#dormitorios',
      '#oficinas',
      '#patio_area',
      '#estacionamiento',
      '#fecha_construccion'
    ];

    for (var i = 0; i < elements.length; i++) {
      $(elements[i]).autoNumeric('init', {
        mDec: 0
      });
    }

    $('#area_construccion').autoNumeric('init');
    $('#banos').autoNumeric('init');
    $('#comision').autoNumeric('init');
  });

  var caracteristicasTipos = {};
  var tiposHiddenFields = {};
</script>

<script type="text/javascript" src="js/moment-with-locales.js"></script>

<script type="text/javascript" src="js/index.js"></script>

<script type="text/javascript">
  app.initialize();
</script>
</body>
</html>
